<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">


    <h3>Edit</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="tittle" class="form-lable">Tittle</label>
            <input type="text" required name="listing[title]" value="<%= listing.title %>" class="form-control" />
            <div class="valid-feedback">Sucess</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea type="text"  name="listing[description]"  value="<%= listing.description%>"
                class="form-control"></textarea>
                <div class="valid-feedback">Sucess</div>
        </div>
        
        <div class="mb-3">
            <img class="card-img-top show-img" src=" <%= listing.image.url %>" alt="">
        </div>

        <div class="mb-3">
            <label for="image" class="form-lable">Upload new image</label>
            <input type="file" name="listing[image][url]" value="<%=listing.image.url %>" class="form-control" />
            <div class="valid-feedback">Sucess</div>
        </div>
        
        
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input type="number" required name="listing[price]" value="<%=listing.price %>" class="form-control" />
                <div class="invalid-feedback">Enter Valid Price</div>
            </div>
        
            <div class="mb-3 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input type="text" required name="listing[country]" value="<%= listing.country %>" class="form-control" />
                <div class="valid-feedback">Sucess</div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" required name="listing[location]" value="<%= listing.location %>" class="form-control" />
            <div class="valid-feedback">Sucess</div>
        </div>
     
        <br><br>
        
        <button class="add-btn mt-3">Update</button>
    </form>
    <br><br>

    </div>
</div>

